* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  /border: .5px solid black;
}

body {
  min-height: 100%;
}

.navbar {
  box-shadow: 0px 1px 5px;
}

.navbar-content {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.nav-tabs {
  flex: 1;
}

#nav-list {
  z-index: 4;
}

.nav-tabs ul{
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-size: 25px;
}

.nav-tabs ul a{
  margin-left: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.hamburger {
  z-index: 5;
  display: none;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

#logo {
  width: 15%;
  height: auto;
}

.logo-name {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.logo-name span a{
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: #2C2E86;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about-img {
  height: 100%;
  position: relative;
}

.about {
  text-align: center;
  margin: 30px auto;
  max-width: 100%;
}

.logo {
  position: absolute;
  animation: 1s ease-out 1s 1 rotate;
  z-index: 2;
  right: 26vw;
  top: 30%;
  width: 19%;
  height: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}


.bg-sibol {
  position: relative;
  z-index: 1;
  height: 100%;
}

.info {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 2vw;
  font-size: 2vw;
  color:white;
}

.info span {
  font-size: 4vw;
  font-weight: bold;
  color: #2C2E86;
}

.book {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1vw;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.book:hover,
.book:focus {
  background-color:#2C2E86;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.book:hover {
  transform: translateY(-1px);
}

.book:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.book {
  position: absolute;
  z-index: 2;
  /margin-top: 30px;
  border: none;
  font-size: 2vw;
  left: 15vw;
  bottom: 10%;
  background-color:#2C2E86;
  color:white;
}

.services-container {
  /background-color: blue;
  text-align: center;
  margin-top: 100px;
  /padding-top: 50px;
}

h1 {
  font-size: 50px;
  color: #2C2E86;
}

 .services.all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  max-height: 350px;
  margin-top: 50px;
  box-shadow: 0px 1px 5px;
  padding: 50px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
} 

.all {
  background-color: transparent;
  /* width: 300px;
  height: 200px; */
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.card {
  /* position: relative;
  width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.front, .back {
  position: relative;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  text-align: left;
  left: 10px;
  right: 10px;
  position: absolute;
  top: 1rem;
}

.back {
  color: white;
  transform: rotateY(180deg);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}
.business {
  /background-color: darkslategrey;
}

.clients {
  margin-top: 70px;
  display: flex;
  background-image: url(/Sibol-Website/img/building-bg.png);
  background-size: cover;
  height: 700px;
  align-items: center;
  justify-content: center;
}

.client-p {
  margin-left: 50px;
  margin-right: 70px;
}

.client-p p {
  font-size: large;
  margin-left: 5px;
}

.slider {
  /background: #efeef2;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: default;
  user-select: none;
  touch-action: none;
  /width: 75%;
  justify-self: end;
}

.slider:before {
  left: 0;
  top: 0;
}
.slider:after,
.slider:before {
  /background: linear-gradient(
      to right,
      #efeef2 0%,
      hsla(0, 0%, 100%, 0) 100%
  );
  content: "";
  height: auto;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider:after,
.slider:before {
  /background: linear-gradient(
      to right,
      #efeef2 0%,
      hsla(0, 0%, 100%, 0) 100%
  );
  content: "";
  height: auto;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider .slide-track-1 {
  animation: scroll-l 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3500px;
}
.slider .slide-track-2 {
  animation: scroll-r 30s linear infinite;
  display: flex;
  width: 3500px;
}

.slider .slide {
  height: auto;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
}

.slider .slide img {
  width: 100%;
  padding: 1pc;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
  /max-width: 100%;
  height: auto;
}

@keyframes scroll-l {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll-r {
  100% {
      transform: translateX(0);
  }
  0% {
      transform: translateX(calc(-250px * 7));
  }
}

.events {
  text-align: center;
  /padding: 50px 100px;
  margin-top: 50px;
}

.events-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  flex: 1 1 0;
  /margin: auto;
}

.events-past {
  /flex: 1;
  max-width: 750px;
  position: relative;
  /margin: auto;
  border-right: 3px solid gray;
}

.fade {
  display:none;
}

.fade img {
  width: 90%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.events-container h3 {
  margin-bottom: 20px;
}

.events-upcoming {
  text-align: center;
  max-width: 500px;
}

.upcoming-list {
  display: flex;
  padding: 10px;
  text-align: left;
  margin-left: 30px;
}

.one, .two {
  border-bottom: 2px solid gray;
}

.event-holder {
  /width: 400px;
  height: auto;
  margin-right: 5px;
  flex: 0 0 150px;
}

.upcoming-list p {
  /padding: 5px;
}

.contacts-container {
  background-color:black;
  margin-top: 50px;
  color: white;
  
  font-size: 30px;
  text-align: center;
}

.contacts-divider {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.contacts-divider p {
  margin-right: 55px;
}
.contacts-list img {
  width: 35px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;

}

#nav-list.active {
  top: 0;
}

.sidebar {

}

.active {
  overflow: hidden;
  z-index: 3;
}

.hide {
  ;
}

@media only screen and (max-width: 768px) {
  .logo-name span {
    font-size: 10px;
  }
  
  h1 {
    font-size: 6vw;
  }
  #nav-list {
    position: fixed;
    top: -100%;
    left: 0;
    padding-top: 50px;
    /margin-top: 50px;
    flex-direction: column;
    background-color: white;
    opacity: 75%;
    width: 100%;
    height: 100%;
    /border-radius: 10px;
    text-align: center;
    transition: 0.7s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  } 

  #nav-list li {
    
    padding: 5px;
  }
  .hamburger {
    display: block;
    z-index: 4;
  }

  .card {
    font-size: 2vw;
  }

  

  .card {
    width: 40%;
  }

  .slide img {
    max-width: 150px;
  }
  
  
} 

@media only screen and (max-width: 480px) {
  .services-container {
    margin-top: 50px;
  }
  
  .clients {
    margin-top: 70px;
    display: flex;
    background-image: url(/Sibol-Website/img/building-bg.png);
    background-size: cover;
    height: 400px;
    align-items: center;
    justify-content: center;
  }
  
  .client-p {
    margin-left: 50px;
    margin-right: 70px;
  }
  
  .client-p p {
    font-size: large;
    margin-left: 5px;
  }
  
  .slider {
    /background: #efeef2;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
    touch-action: none;
    /width: 75%;
    justify-self: end;
  }
  
  .slider:before {
    left: 0;
    top: 0;
  }
  .slider:after,
  .slider:before {
    /background: linear-gradient(
        to right,
        #efeef2 0%,
        hsla(0, 0%, 100%, 0) 100%
    );
    content: "";
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider:after,
  .slider:before {
    /background: linear-gradient(
        to right,
        #efeef2 0%,
        hsla(0, 0%, 100%, 0) 100%
    );
    content: "";
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider .slide-track-1 {
    animation: scroll-l 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
  }
  .slider .slide-track-2 {
    animation: scroll-r 30s linear infinite;
    display: flex;
    width: 1400px;
  }
  
  .slider .slide {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
  }
  
  .slider .slide img {
    width: 100%;
    /padding: 1pc;
    vertical-align: middle;
    margin: 0 auto;
    display: inline-block;
    /max-width: 100%;
    height: auto;
  }
  
  @keyframes scroll-l {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 7));
    }
  }
  @keyframes scroll-r {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(calc(-100px * 7));
    }
  }

  .upcoming-list,.events-past {
    padding: 20px;
    margin: 0;
  }

  .contacts-container {
    text-align: center;
    font-size: 4vw;
    margin: 0;
  }

  .contacts-divider p {
    margin: 0;
    margin-bottom: 5px;
  }

  .contacts-divider {
    display: block;
  }
}


@media only screen and (max-width: 1270px) {
  
  .events-past {
    border-right: none;
  }
}
